extends ../layouts/main-layout.pug

block content
    form(action="/admin/edit-movie" method="POST" enctype="multipart/form-data")
                    input(type="hidden" name="id" value=`${movie.id}`)
                    .form-group.row
                        label(for="name").col-sm-2.col-form-label Name
                        .col-sm-10
                            input(type="text" value=`${movie.name.name}`  name="name").form-control#name
                    .form-group.row
                        label(for="imdb_score").col-sm-2.col-form-label Imdb Score
                        .col-sm-10
                            input(type="text" value=`${movie.name.imdb_score}` name="imdb_score").form-control#imdb_score
                    .form-group.row
                        label(for="imageURL").col-sm-2.col-form-label ImageURL
                        .col-sm-10
                            img(src=`/img/${movie.imageURL}` width="100")
                            input(type="file" name="image")#imageURL
                    .form-group.row
                        label(for="embedURL").col-sm-2.col-form-label EmbedURL
                        .col-sm-10
                            input(type="text" value=`${movie.name.embedURL}`  name="embedURL").form-control#embedURL
                    .form-group.row
                        label(for="categoryId").col-sm-2.col-form-label Category
                        .col-sm-10
                            select(name="categoryId").form-control#categoryId
                                option(value="-1") Select Category
                                each category in categories
                                    option(value=`${category.id}` selected=category.id===movie.categoryId) #{category.name.name}
                    .form-group.row
                        label(for="directorId").col-sm-2.col-form-label Director
                        .col-sm-10
                            select(name="directorId").form-control#directorId
                                option(value="-1") Select Director
                                each director in directors
                                    option(value=`${director.id}` selected=director.id===movie.directorId) #{director.name.name}
                    .form-group.row
                        label(for="description").col-sm-2.col-form-label Description
                        .col-sm-10
                            textarea(type="text" name="description").form-control#description #{movie.name.description}
                    .form-group.row
                        .col-sm-10.offset-sm-2
                            input(type="submit"  value="Edit Movie").btn.btn-primary