extends ../layouts/main-layout.pug

block content
    form(action="/admin/edit-director" method="POST" enctype="multipart/form-data")
                    input(type="hidden" name="id" value=`${director.id}`)
                    .form-group.row
                        label(for="name").col-sm-2.col-form-label Name
                        .col-sm-10
                            input(type="text" value=`${director.name.name}`  name="name").form-control#name
                    .form-group.row
                        label(for="country").col-sm-2.col-form-label Country
                        .col-sm-10
                            input(type="text" value=`${director.name.country}`  name="country").form-control#country
                    .form-group.row
                        label(for="imageURL").col-sm-2.col-form-label ImageURL
                        .col-sm-10
                            img(src=`/img/${director.imageURL}` width="100")
                            input(type="file" name="image")#imageURL
                    .form-group.row
                        label(for="yearOfBirth").col-sm-2.col-form-label yearOfBirth
                        .col-sm-10
                            input(type="number" value=`${director.name.yearOfBirth}` name="yearOfBirth").form-control#yearOfBirth
                    .form-group.row
                        label(for="bio").col-sm-2.col-form-label Bio
                        .col-sm-10
                            textarea(type="text"  name="bio").form-control#bio #{director.name.bio}
                    .form-group.row
                        .col-sm-10.offset-sm-2
                            input(type="submit"  value="Edit Movie").btn.btn-primary